button {
  font-size: 20px;
  padding: 10px 20px;
  text-transform: uppercase;
  outline: none;
  border: 1px solid black;
  margin: 18px 24px 0 0;
}

.button-search {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #FF385C;
  border-radius: 50px;
  color: #ffffff;
}
.button-search:hover {
  background-color: #D90865;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 100px;
}

ul {
  list-style-type: none;
}

header {
  font-size: 14px;
  background-color: #000000;
}
header .header-bar {
  padding-top: 30px 0;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
header .header-bar .header-menu {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-bar ul {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
header .header-bar ul li a {
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  padding: 0 20px;
}
header .header-bar ul li i {
  font-size: 20px;
}
header .header-bar .header-right ul li {
  padding: 0 20px;
  color: #ffffff;
}
header .header-bar .header-right ul li i {
  padding-right: 10px;
}
header .header-bar .header-right ul li .border-user {
  padding: 10px 0;
  text-align: center;
  width: 80px;
  border-radius: 50px;
  background-color: #ffffff;
}
header .header-bar .header-right ul li .border-user i {
  color: #808080;
}
header .header-form ul {
  position: relative;
  bottom: -40px;
  height: 80px;
  margin: 0 auto;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 50px;
  width: 80%;
}
header .header-form ul li:not(:last-child) {
  border-right: 1px solid #d3d3d3;
}
header .header-form ul li {
  position: relative;
  float: left;
  height: 100%;
  width: 25%;
}
header .header-form ul li:hover {
  background-color: #d3d3d3;
  border-radius: 50px;
}
header .header-form ul li .search-inputs {
  float: left;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .header-form ul li .search-inputs label {
  font-weight: bolder;
}
header .header-form ul li .search-inputs input {
  background-color: transparent;
  border: none;
  outline: none;
}
header .header-form ul li .button-search {
  position: absolute;
  top: -10%;
  right: -5%;
}

main {
  height: 500px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000000;
  color: #ffffff;
  padding: 20px 0;
  width: 100%;
}
footer .footer-top {
  justify-content: space-between;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
footer .footer-top ul {
  line-height: 2.6;
  padding-bottom: 20px;
}
footer .footer-top ul li:first-child {
  text-transform: uppercase;
  font-weight: bolder;
}
footer .footer-bottom {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ffffff;
}
footer .footer-bottom ul {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
footer .footer-bottom ul button.btn-social {
  border-radius: 100%;
  display: inline-flex;
  font-size: 20px;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin: 10px;
}
footer .footer-bottom ul button.btn-social:hover {
  background-color: #ffffff;
}
footer .footer-bottom ul button.btn-social:hover i {
  color: #000000;
}
footer .footer-bottom ul li {
  margin: 0 5px;
}
footer .footer-bottom ul li a {
  color: #ffffff;
  text-decoration: none;
}
footer .footer-bottom ul li a:hover {
  text-decoration: underline;
}
footer .footer-bottom ul li i.icon-size {
  padding: 5px;
  font-size: 28px;
  color: #808080;
}
