// colori
$white: #ffffff;
$dark-white: #d3d3d3;
$black: #000000;
$light-black: #808080;
$button-search: #FF385C;
$button-search-hover: #D90865;


// altezza e larghezza

// font
$fontHeader: 14px;

//margin e padding
$paddingHeader: 0 20px;
$paddingFooter: 0 20px;
$padding5: 0 5px;
$padd-bottom-20: 20px;

